<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Scribble</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home
        </a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/users/login">Login
        </a>
        <a class="nav-item nav-link" href="/users/signup">Sign Up</a>
      </div>
    </div>
  </div>
</nav>