<div class="jumbotron text-left">
  <h1 class="display-4">Hi, we are Scribble.</h1>
  <p class="lead">We make it easy to read, write, and share stories that matter.</p>
  <a href="/posts/add" class="btn btn-dark btn-md">What's on your mind today?</a>
</div>

