<div class="jumbotraon text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">What's on your mind today?</p>
  <a href="/posts/add" class="btn btn-dark btn-md">Add a new post</a>
</div>